:root {
  --vermelho: #d9042b;
  --vinho: #93050d;
  --azul-claro: #0848ac;
  --azul: #033e8c;
  --azul-escuro: #003383;
  --azul-dark: #194073;
  --amarelo-claro: #f2cb05;
  --amarelo: #f2d06b;
  --amarelo-escuro: #ffaa01;
  --preto: #0d0d0d;
}

/*
Formatacoes
*/

body {
  font-family: Tahoma, sans-serif;
}

body h1 {
  font-size: 29px; /* Tamanho desejado para h1 */
  text-align: center;
  margin-bottom: 10px;
  font-family: Verdana Bold, Geneva Bold, Tahoma Bold, sans-serif Bold;
}

body h2 {
  font-size: 18px; /* Tamanho desejado para h2 */
  text-align: center;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h3{
  font-size: 15px;
}

.container{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.col{
  margin-bottom: 15px;
  margin-left: auto;
}

.card.shadow-sm{
  position: relative;
  display: flex;
  height: 230px;
  flex-direction: column;
  min-width: 0;
  width: 20rem;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  padding: 10px;
  text-align: center;
  align-items: center;
  align-items: center;
}

.btn.btn-dark{
  width: 12rem;
  font-size: 15px;
  margin-top: -7pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
  
