  body{
    margin: 0; /* Remove margens padrão do corpo da página */
    padding: 0; /* Remove preenchimento padrão do corpo da página */
    box-sizing: border-box;
  }

  .center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
  }

  .text1{
    color: white;
    font-family: 'Poppins';
    font-size: 20pt;
    margin-left: 190px;
  }

  .text1_prova{
    color: #194073;
    font-family: 'Poppins';
    font-size: 20pt;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    /* align-items: center; Centraliza verticalmente */
    margin: 10px;
    /* height: 100vh; Isso é opcional para centralizar na janela inteira */
  }


  .imagemProva {
    height: 350px;
    /* border: 1px solid #000; */
    width: 350px;
    margin-right: 150px; /* Define uma margem de 10 pixels à direita da imagem */
    vertical-align: middle;
    border-radius: 5%;
    margin-left: 80px;
}

.imagemMateria {
    height: 120px;
    /* border: 1px solid #000; */
    width: 240px;
    /* margin-right: 10px; Define uma margem de 10 pixels à direita da imagem */
    /* vertical-align: middle; */
    border-radius: 0%;
    border-style:double;
    border-color: #194073;
    /* margin-left: 80px; */
}
  /* p{
    margin-top: 20px;
    margin-left: 150px;
  } */

.text2 {
    color: #0D0D0D;
    font-family: 'Poppins';
    font-size: 100pt;
    /* display: inline-block; */
    /* line-height: 320px; Ajuste a linha de acordo com a altura da imagem */
    vertical-align: middle;
}

  /* .text2{
    color: #0D0D0D;
    font-family: 'Poppins';
    font-size: 15pt;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    /* align-items: center; /* Centraliza verticalmente */
    /* vertical-align: middle; */
  /* }  */

  .text3, button{
    color: #0D0D0D;
    font-family: 'Poppins';
    font-size: 15pt;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    line-height: 32px;
    vertical-align: middle;
  }


  .text4{
    color: #0D0D0D;
    font-family: 'Poppins';
    font-size: 15pt;
    vertical-align: middle;
  }

  .yellowline {
    background-color: #f2cb05; /* Define a cor de fundo como amarelo */ 
    height: 30px;
  }

  /* h1 {
  font-size: 24px; /* Tamanho menor */
  /* text-align: left; Centraliza o texto */
  /* } */ 

  /* .imagemProva{ 
    height: 320px; 
    border: 1px solid #000;
    width: 320px;
    margin-right: 10px; /* Define uma margem de 10 pixels à direita e à esquerda da imagem */
    /* margin-left: 50px; */
    /* vertical-align: middle; */
  /* }  */

  header span {
    display: inline-block; /* Define como um bloco em linha para alinhar verticalmente */
  }

  .container{
    display: flex;
    align-items: center;
    color: #0D0D0D;
    font-family: 'Poppins';
    font-size: 20pt;
    margin-top: 10px;
    margin: 10px;
    margin-right: 10px;
  }

  button{
    align-items: center;
    border: 1px solid white;
    background-color: white;
  }

  .container1 {
    display: flex; /* Use flexbox para alinhar os elementos lado a lado */
  }

  .container2 {
    display: flex; /* Use flexbox para alinhar os elementos lado a lado */
    flex-wrap: wrap;
  }

.box {
    width: 200px;
    height: 200px;
    margin: 5px 10px;
    padding: 10px;
    border: 1px solid #f2cb05;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #082041;
}

.box2 {
  width: 200px;
  height: 200px;
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid #f2cb05;
  background-color: #082041;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-left: 57px;
}

.box1 {
    width: 250px;
    height: 220px;
    margin: 5px 10px;
    padding: 10px;
    border: 1px solid #194073;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /* background-color: ; */
}

.button1 {
  padding: 5px 10px;
  background-color: #f2cb05;
  color: #194073;
  /* border: none; */
  border-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 5px; */
  margin-top: auto;
  border-radius: 5%;
  font-family: Tahoma, sans-serif;
}

.button5 {
  padding: 5px 10px;
  background-color: #f2cb05;
  color: #194073;
  /* border: none; */
  border-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin-bottom: 5px; */
  margin-top: auto;
  border-radius: 5%;
  font-family: Tahoma, sans-serif;
}


.text5 {
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 15pt;
    margin-top: 20px;
}

.text6 {
  color: #194073;
  font-family: 'Poppins';
  font-size: 10pt;
  margin-top: 20px;
}

  .button2{
    /* margin-left: 10px; */
    align-items: center;
    border: 1px solid white;
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }

  .hero{
    width: 100%;
    height: 100vh;
    background: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

