/*
  Variáveis
*/

:root {
    --vermelho: #d9042b;
    --vinho: #93050d;
    --azul-claro: #0848ac;
    --azul: #033e8c;
    --azul-escuro: #003383;
    --azul-dark: #194073;
    --amarelo-claro: #f2cb05;
    --amarelo: #f2d06b;
    --amarelo-escuro: #ffaa01;
    --preto: #0d0d0d;
  }

/*
  Formatacoes
*/

body {
    font-family: Tahoma, sans-serif;
}

.login-form-title {
    display: block;
    font-weight: 600;
    font-size: 39px;
    color: var(--azul-escuro);
    line-height: 1.8;
    text-align: center;
}

.login-form {
    width: 360px;
    border-radius: 10px;
    padding: 11px;

    font-size: 18px;
    font-weight: 500;
    color: #0848ac;
}

.container-login {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.imagem-login {
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 120px;
}

.cadastro-form {
  width: 450px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 11px;

  background-color: rgb(173, 213, 248);

  font-size: 18px;
  font-weight: 500;
  color: #0848ac;
}

.imagem-cadastro {
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 84.9px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}